

.logo {
  /* border: 2px solid white; */
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  /* border: 2px solid black; */
}

.nav-links {
  display: flex;
  justify-content: center;
  font-weight: 500;
  /* height: 83%; */

  /* border: 2px solid black; */
}

.nav-links ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 70%;
}

.navlist_item {
  padding: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  font-size:20px;
  height: 100%;
  font-weight: 700;
  color: rgb(107 114 128);
}
.navlist_item:hover {
  color: #2196f3;
}

.navlist_item::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #2196f3;
  opacity: 0;
  transition: all 0.3s;
}

.navlist_item:hover::after {
  opacity: 1;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .header-container {
    padding: 0 5vw;
  }

  .nav-links ul {
    width: 80%;
  }

  .navlist_item {
    font-size: 12px;
  }

  .logo {
    font-size: 25px;
  }
}
