@import url('https://fonts.cdnfonts.com/css/samsung-sans-4');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Samsung Sans', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* hide scroll bar*/
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* smooth scroll */
  scroll-behavior: smooth;
}
